---
import css from "../images/css.png";
---

<section class="gridProjects">
  <p class="gridProjects__itemDescription">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime explicabo
    quisquam neque est! Vel nemo consequatur facere unde aliquam quia
    architecto, voluptatum aliquid ab rerum. Quisquam, voluptatum. Quisquam,

  </p>
  <div class="gridProjects__itemProject gridProjects__itemProject1">
    <span>Replica Facebook <br> 1 Day</span>
    <img src=`${css}` alt="Facebook Replica">
  </div>
  <div class="gridProjects__itemProject gridProjects__itemProject2">
    <span>Replica Facebook <br> 1 Day</span>
    <img src=`${css}` alt="Facebook Replica">
  </div>
  <div class="gridProjects__itemProject gridProjects__itemProject3">
    <span>Replica Facebook <br> 1 Day</span>
    <img src=`${css}` alt="Facebook Replica">
  </div>
  <div class="gridProjects__itemProject gridProjects__itemProject4">
    <span>Replica Facebook <br> 1 Day</span>
    <img src=`${css}` alt="Facebook Replica">
  </div>
  <div class="gridProjects__itemProject gridProjects__itemProject5">
    <span>Replica Facebook <br> 1 Day</span>
    <img src=`${css}` alt="Facebook Replica">
  </div>
  <div class="gridProjects__itemProject gridProjects__itemProject6">
    <span>Replica Facebook <br> 1 Day</span>
    <img src=`${css}` alt="Facebook Replica">
  </div>
  <div class="gridProjects__itemProject gridProjects__itemProject7">
    <span>Replica Facebook <br> 1 Day</span>
    <img src=`${css}` alt="Facebook Replica">
  </div>
  <div class="gridProjects__itemProject gridProjects__itemProject8">
    <span>Replica Facebook <br> 1 Day</span>
    <img src=`${css}` alt="Facebook Replica">
  </div>
  <div class="gridProjects__itemProject gridProjects__itemProject9">
    <span>Replica Facebook <br> 1 Day</span>
    <img src=`${css}` alt="Facebook Replica">
  </div>
  <div class="gridProjects__itemProject gridProjects__itemProject10">
    <span>Replica Facebook <br> 1 Day</span>
    <img src=`${css}` alt="Facebook Replica">
  </div>
  <div class="gridProjects__itemProject gridProjects__itemProject11">
    <span>Replica Facebook <br> 1 Day</span>
    <img src=`${css}` alt="Facebook Replica">
  </div>
  <div class="gridProjects__itemProject gridProjects__itemProject12">
    <span>Replica Facebook <br> 1 Day</span>
    <img src=`${css}` alt="Facebook Replica">
  </div>
  <div class="gridProjects__itemProject gridProjects__itemProject13">
    <span>Replica Facebook <br> 1 Day</span>
    <img src=`${css}` alt="Facebook Replica">
  </div>
  <div class="gridProjects__itemProject gridProjects__itemProject14">
    <span>Replica Facebook <br> 1 Day</span>
    <img src=`${css}` alt="Facebook Replica">
  </div>
  <div class="gridProjects__itemProject gridProjects__itemProject15">
    <span>Replica Facebook <br> 1 Day</span>
    <img src=`${css}` alt="Facebook Replica">
  </div>
  <div class="gridProjects__itemProject gridProjects__itemProject16">
    <span>Replica Facebook <br> 1 Day</span>
    <img src=`${css}` alt="Facebook Replica">
  </div>
  <div class="gridProjects__itemProject gridProjects__itemProject17">
    <span>Replica Facebook <br> 1 Day</span>
    <img src=`${css}` alt="Facebook Replica">
  </div>
  <div class="gridProjects__itemProject gridProjects__itemProject18">
    <span>Replica Facebook <br> 1 Day</span>
    <img src=`${css}` alt="Facebook Replica">
  </div>
  <div class="gridProjects__itemProject gridProjects__itemProject19">
    <span>Replica Facebook <br> 1 Day</span>
    <img src=`${css}` alt="Facebook Replica">
  </div>
  <div class="gridProjects__itemProject gridProjects__itemProject20">
    <span>Replica Facebook <br> 1 Day</span>
    <img src=`${css}` alt="Facebook Replica">
  </div>
  <div class="gridProjects__itemProject gridProjects__itemProject21">
    <span>Replica Facebook <br> 1 Day</span>
    <img src=`${css}` alt="Facebook Replica">
  </div>
  <div class="gridProjects__itemProject gridProjects__itemProject22">
    <span>Replica Facebook <br> 1 Day</span>
    <img src=`${css}` alt="Facebook Replica">
  </div>
  <div class="gridProjects__itemProject gridProjects__itemProject23">
    <span>Replica Facebook <br> 1 Day</span>
    <img src=`${css}` alt="Facebook Replica">
  </div>
  <div class="gridProjects__itemProject gridProjects__itemProject24">
    <span>Replica Facebook <br> 1 Day</span>
    <img src=`${css}` alt="Facebook Replica">
  </div>
  <div class="gridProjects__itemProject gridProjects__itemProject25">
    <span>Replica Facebook <br> 1 Day</span>
    <img src=`${css}` alt="Facebook Replica">
  </div>
  <div class="gridProjects__itemProject gridProjects__itemProject26">
    <span>Replica Facebook <br> 1 Day</span>
    <img src=`${css}` alt="Facebook Replica">
  </div>
</section>

<style>
  .gridProjects {
    padding: 10px;
    width: 95%;
    position: relative;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(13, auto);
    gap: 10px;
    background-image: url(https://www.clams.lol/images/bg-cork.jpg);
  }
  .gridProjects__itemDescription {
    padding: 6% 4%;
    text-align: center;
    font-size: 3.5vw;
    grid-area: 1 / 1 / 2 / 3;
  }
  .gridProjects__itemProject {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 10%;
    font-size: 3.5vw;
    width: 100%;
    border-radius: 10px;
    background: #F8ECE2;
  }
</style>
