---
import css from "../images/css.png";

import "../styles/stylesSectionProjectsPortfolio.css"
---

<section class="gridProjects">
  <p class="gridProjects__itemDescription">
    <span>All Projects</span>
    <br />
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime explicabo quisquam
    neque est! Vel nemo consequatur facere unde aliquam quia architecto, voluptatum
    aliquid ab rerum. Quisquam, voluptatum. Quisquam,
  </p>
  <div class="gridProjects__itemProject gridProjects__itemProject--project1">
    <div class="gridProjects__titleProject">
      <span>Replica Facebook</span>
      <span>1 day</span>
    </div>
    <div class="gridProjects__imgProject">
      <img class="gridProjects__img" src={css.src} alt="Facebook Replica" />
    </div>
  </div>
  <div class="gridProjects__itemProject gridProjects__itemProject--project2">
    <div class="gridProjects__titleProject">
      <span>Replica Facebook</span>
      <span>1 day</span>
    </div>
    <div class="gridProjects__imgProject">
      <img class="gridProjects__img" src={css.src} alt="Facebook Replica" />
    </div>
  </div>
  <div class="gridProjects__itemProject gridProjects__itemProject--project3">
    <div class="gridProjects__titleProject">
      <span>Replica Facebook</span>
      <span>1 day</span>
    </div>
    <div class="gridProjects__imgProject">
      <img class="gridProjects__img" src={css.src} alt="Facebook Replica" />
    </div>
  </div>
  <div class="gridProjects__itemProject gridProjects__itemProject--project4">
    <div class="gridProjects__titleProject">
      <span>Replica Facebook</span>
      <span>1 day</span>
    </div>
    <div class="gridProjects__imgProject">
      <img class="gridProjects__img" src={css.src} alt="Facebook Replica" />
    </div>
  </div>
  <div class="gridProjects__itemProject gridProjects__itemProject--project5">
    <div class="gridProjects__titleProject">
      <span>Replica Facebook</span>
      <span>1 day</span>
    </div>
    <div class="gridProjects__imgProject">
      <img class="gridProjects__img" src={css.src} alt="Facebook Replica" />
    </div>
  </div>
  <div class="gridProjects__itemProject gridProjects__itemProject--project6">
    <div class="gridProjects__titleProject">
      <span>Replica Facebook</span>
      <span>1 day</span>
    </div>
    <div class="gridProjects__imgProject">
      <img class="gridProjects__img" src={css.src} alt="Facebook Replica" />
    </div>
  </div>
  <div class="gridProjects__itemProject gridProjects__itemProject--project7">
    <div class="gridProjects__titleProject">
      <span>Replica Facebook</span>
      <span>1 day</span>
    </div>
    <div class="gridProjects__imgProject">
      <img class="gridProjects__img" src={css.src} alt="Facebook Replica" />
    </div>
  </div>
  <div class="gridProjects__itemProject gridProjects__itemProject--project8">
    <div class="gridProjects__titleProject">
      <span>Replica Facebook</span>
      <span>1 day</span>
    </div>
    <div class="gridProjects__imgProject">
      <img class="gridProjects__img" src={css.src} alt="Facebook Replica" />
    </div>
  </div>
  <div class="gridProjects__itemProject gridProjects__itemProject--project9">
    <div class="gridProjects__titleProject">
      <span>Replica Facebook</span>
      <span>1 day</span>
    </div>
    <div class="gridProjects__imgProject">
      <img class="gridProjects__img" src={css.src} alt="Facebook Replica" />
    </div>
  </div>
  <div class="gridProjects__itemProject gridProjects__itemProject--project10">
    <div class="gridProjects__titleProject">
      <span>Replica Facebook</span>
      <span>1 day</span>
    </div>
    <div class="gridProjects__imgProject">
      <img class="gridProjects__img" src={css.src} alt="Facebook Replica" />
    </div>
  </div>
  <div class="gridProjects__itemProject gridProjects__itemProject--project11">
    <div class="gridProjects__titleProject">
      <span>Replica Facebook</span>
      <span>1 day</span>
    </div>
    <div class="gridProjects__imgProject">
      <img class="gridProjects__img" src={css.src} alt="Facebook Replica" />
    </div>
  </div>
  <div class="gridProjects__itemProject gridProjects__itemProject--project12">
    <div class="gridProjects__titleProject">
      <span>Replica Facebook</span>
      <span>1 day</span>
    </div>
    <div class="gridProjects__imgProject">
      <img class="gridProjects__img" src={css.src} alt="Facebook Replica" />
    </div>
  </div>
</section>

